.favorites {
  box-sizing: border-box;
  border: 1px solid rgb(53, 61, 60);
  padding: 30px 20px;
}

.favorites__name {
  box-sizing: border-box;
  width: 100%;
  font-size: 16px;
  padding: 5px 10px;
  border: 1px solid rgba(61, 68, 67, 0.5);
  margin-bottom: 24px;
}

.favorites__list {
  margin-bottom: 24px;
}

.favorites__save {
  border: none;
  background-color: rgb(166, 8, 113);
  padding: 10px 15px;
  color: #ffeedb;
  font-size: 14px;
  transition: all 0.2s linear;
}

.favorites__save:hover {
  cursor: pointer;
  opacity: 0.9;
  transition: all 0.2s linear;
}

.favorites input {
  margin-top: 15px;
}
