.header {
  background: rgb(69, 8, 166);
  padding: 20px calc(50% - 500px) 10px;
}

.header__title {
  font-family: "Roboto";
  color: #ffeedb;
  font-size: 45px;
  margin-left: 40px;
}

.moto {
  font-size: 16px;
}
/* #496DDB */
